input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.modelTContainer {
  height: 95%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 3.5em;
  border-radius: 10px;
  background-color: var(--blue_subnautica);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.ModelCanvas {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: aliceblue;
  height: 95%;
  width: 95%;
  border-radius: 10px;
}

.CanvasContainer {
  height: 90%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--dark_tecxotic);
  border-radius: 10px;
  margin-top: 1em;
}

.ModelTopContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.ModelBottomContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.MeasureInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.ModelBoxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
}

.ModelBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 50%;
  width: 100%;
}

.ModelboxTextContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark_tecxotic);
  height: 100%;
  width: 50%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.ModelboxText {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--white_tecxotic);
}

.ModelboxInputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white_tecxotic);
  width: 50%;
  height: 100%;
  border-bottom-right-radius: 90px;
}

.ModelboxInput {
  background-color: var(--white_tecxotic);
  border: none;
  outline: none;
  width: 80%;
  height: 50%;
  font-size: 1.5em;
  text-align: center;
}
