.measure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 95%;
  margin-left: 5em;
  background-color: var(--blue_subnautica);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

.startMeasureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 15%;
  border-bottom: 2px solid var(--mid_dark_tecxotic);

}

.startMeasureButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 50%;
  border-radius: 10px;
  background-color: var(--mid_blue_subnautica);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
}

.startMeasureButton:hover {
  background-color: var(--aqua_tecxotic);
  cursor: pointer;
}

.MeasuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
  border-radius: 10px;
  margin-top: 3em;
}

.MedidasContainer{
  width: 60%;
}

.MeasureContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  margin-top: 5em;
}

.MeasureBox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


.MeasureTextContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: var(--dark_tecxotic);
  border-top-left-radius: 90px;

}

.MeasureValueContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  background-color: var(--white_tecxotic);
  border-bottom-right-radius: 90px;
}

.MeasureText{
  font-size: 1.5em;
  font-weight: 600;
  color: var(--white_tecxotic);
}