.Indicators-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: var(--mid_dark_tecxotic);
    width: 35%;
    height: 10%;
    margin-left: 5%;
    margin-top: 1%;
    position: relative;
}

.Indicators-container .Indicators-img{
    width: 10%;
    height: 100%;
    fill: #f30909 !important;

}