.measure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 95%;
  margin-left: 5em;
  background-color: var(--blue_subnautica);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);

}

.butContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 5em;
  background-color: #fff;
  margin-bottom: 5em;
  border-radius: 10px;
}

.startMeasureContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30em;
  height: 50em;
}

.startMeasureButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 90%;
  border-radius: 10px;
  background-color: var(--mid_blue_subnautica);
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.5em;
}

.startMeasureButton:hover {
  background-color: var(--aqua_tecxotic);
  cursor: pointer;
}

.MeasuresContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 60%;
  border-radius: 10px;
  margin-top: 3em;
}

