.dna-container{
    height: 95%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 3.5em;
    border-radius: 10px;
    background-color: var(--blue_subnautica);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.dna-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 15%;
    width: 100%;
    margin-top: 1em;
    border-bottom: 2px solid var(--mid_dark_tecxotic);
}
.dnaButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.startSearchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
    border-radius: 10px;
    background-color: var(--mid_blue_subnautica);
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.5em;
  }
  
.startSearchButton:hover {
    background-color: var(--aqua_tecxotic);
    cursor: pointer;
}

.dna-bottom-Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 100%;
}

.DNAContainerFrame{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33.3%;
    width: 90%;
    margin-top: 1em;
}

.dnaAnalysisContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.topAnalysisContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
    background-color: blue;
}

.bottomAnalysisContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 100%;
}

.leftDNAContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: var(--mid_blue_subnautica);
}

.rightDNAContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    background-color: var(--white_tecxotic);
}

