.comparatorContainer {
    height: 100vh;
    display: flex;
    
}
.topContainer {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin-left: 5%;
}

.squaresBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mid_dark_tecxotic);
    border-radius: 25px;
    margin-top: 80%;
    margin-left: -90%;
    padding: 5px;
    height: 10%;
    width: 90%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }

  .taskButton { 
    height: 5%;
    width: 55%;
    margin-left: 10%;
    margin-top: 20%;
    background-color: var(--mid_dark_tecxotic);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-color: var(--mid_dark_tecxotic);
  }

  .taskButton:hover {
    background-color: var(--aqua_tecxotic);
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 10px var(--aqua_tecxotic);
  }
  