.lateralNavbar {
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--aqua_tecxotic);
    color: #fff;
}

.Buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.button {
    width: 150px;
    height: 50px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: var(--mid_dark_tecxotic);
    color: #fff;
}

.menu {
    display: none;
}

.showMenu {
    display: block;
    position: absolute;
    top: 50px;
    left: 200px;
    background-color: #fff;
    color: #333;
    padding: 20px;
}
