.copilotContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 998;
}

.camera-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-left: 5%;
}

.left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: var(--aqua_tecxotic);
}

.right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: var(--aqua_tecxotic);
}

.top-right-box {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: column;
}

.CameraContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  height: 485px;
  width: 645px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.imageSample{
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}